body {
    font-family:fantasy;
    text-align: center;
    background: linear-gradient(135deg, #f0f4f8, #d9e4ec);
    margin: 0;
    padding: 0;
    background-image: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #000000;
    font-size: 2.5em;
    margin-top: 30px;
}

input {
    padding: 8px 12px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #0099ff;
    box-shadow: 0 0 5px rgba(4, 77, 125, 0.809);
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

p {
    margin: 15px;
    color: #d6e6f0;
    font-size: 1.1em;
}